.admin-container {
    padding: 30px;
    font-family: "Inter", sans-serif;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 600;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 18px;
    margin-top: 20px;
}